.main__page {
  display: flex;
  min-width: 260px;
  max-width: 1200px;
  padding: 2px;
}
.container {
  margin-top: 20px;
  padding: 10px 20px 30px;
  border: orange solid 4px;
  border-radius: 6px;
}
.container__name {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.container__loyout {
  width: 100%;
  min-width: 240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
